html, body {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.item-img {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.total {
    padding-top: 10px;
    font-size: 25px;
}

.inpcard {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: rgb(200, 230, 225);
    width: fit-content;
}

.inpcard input, textarea {
    width: 400px;
}

.inpcard label {
    font-size: 20px;
    margin-bottom: 10px;
}
input::placeholder, textarea::placeholder {
    font-size: 20px;
    margin: 10px;
}
textarea {
    padding: 10px;
}

footer {
    margin-top: 30px;
}

.admin form {
    margin-bottom: 60px;
} 

.item-card {
    padding-left: 5px;
    padding-right: 5px;
}

.item-card__title {
    min-height: 55px;
}

.item-card__img {
    height: 150px;
}

.item-card__img img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-card__price {
    font-size: 25px;
}